<% include ./partials/header %>
<!-- blog-id.ejs -->

<div class="ui huge header"><%= blog.title %></div>
<div class="ui time attached">
  <div class="item">
    <img class="ui centered rounded image" src="<%= blog.image %>">
  </div>
  <div class="content">
    <span><%= blog.created.toDateString() %></span>
  </div>
  <div class="description">
    <p><%= blog.body %></p>
    <a class="ui green button" href="/blog/<%= blog._id %>/edit">Edit</a>
  </div>
</div>

<!-- /blog-id.ejs -->
<% include ./partials/footer %>
